{% extends "base.html" %} {% block content %}
<div class="market-updates">
    <div class="col-md-6 market-update-gd">
        <div class="market-update-block clr-block-1">
            <div class="col-md-8 market-update-left">
                <h3>1001</h3>
                <h4>Registros de camisas</h4>
                <p>Últimas 24horas.</p>
            </div>
            <div class="col-md-4 market-update-right">
                <i class="fa fa-file-text-o"> </i>
            </div>
                <div class="clearfix"> </div>
        </div>
    </div>
    <div class="col-md-6 market-update-gd">
        <div class="market-update-block clr-block-2">
            <div class="col-md-8 market-update-left">
                <h3>14.000</h3>
                <h4>Visitas no site</h4>
                <p>Últimas 24horas.</p>
            </div>
            <div class="col-md-4 market-update-right">
                <i class="fa fa-eye"> </i>
            </div>
                <div class="clearfix"> </div>
        </div>
    </div>
</div>
{% endblock %}