{% extends "base.html" %} {% block content %}
<div class="row">
    <div class="col-md-12">
        <h3 class="page-header">
            <i class="fa fa-laptop"></i> Listagem de camisas casuais</h3>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/departamento/">Loja</a>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Esporte</th>
                    <th>Cor</th>
                    <th>Tipo</th>
                    <th>#</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                {% for casual in casuals %}
                <tr>
                    <td>{{casual.esporte}}</td>
                    <td>{{casual.cor}}</td>
                    <td>{{casual.tipo}}</td>
                    <td>
                        <a href="/departamento/casual/{{casual.id}}/">Ver</a>
                    </td>
                    <td>
                        <a href="/departamento/casual/{{casual.id}}/edit/">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <p>Foram encontradas {{casuals | length}} cadastradas!</p>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}