{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
      <section class="panel">
          <header class="panel-heading">
              Cadastrando Camisa
          </header>
          <div class="panel-body">
              <form role="form" class="form-validate" action="/departamento/camisa/{{camisa_id}}/edit/" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                      <label for="{{for.time.id_for_label}}">{{form.time.label}}</label>
                      <div>
                          {{form.time}}
                          {% for error in form.time.errors %}
                          <label for="{{for.time.id_for_label}}" class="error">{{error}}</label>
                          {% endfor %}
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="{{for.jogador.id_for_label}}">{{form.jogador.label}}</label>
                      <div>
                          {{form.jogador}}
                          {% for error in form.jogador.errors %}
                          <label for="{{for.jogador.id_for_label}}" class="error">{{error}}</label>
                          {% endfor %}
                      </div>                     
                  </div>
                  <div class="form-group">
                      <label for="{{for.numero.id_for_label}}">{{form.numero.label}}</label>
                      <div>
                          {{form.numero}}
                          {% for error in form.numero.errors %}
                          <label for="{{for.numero.id_for_label}}" class="error">{{error}}</label>
                          {% endfor %}
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="{{for.tamanho.id_for_label}}">{{form.tamanho.label}}</label>
                      <div>
                          {{form.tamanho}}
                          {% for error in form.tamanho.errors %}
                          <label for="{{for.tamanho.id_for_label}}" class="error">{{error}}</label>
                          {% endfor %}
                      </div>
                  </div>
                  <input type="submit" class="btn btn-primary"></input>
                  <a class="btn btn-primary" href="/departamento/camisa/">Voltar</a>
              </form>

          </div>
      </section>
  </div>

</div>
{% endblock %}